
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personel Yönetim Sistemi</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/Departman">Departmanlar</a></li>
            <li><a href="/Personel">Personeller</a></li>

            @if (User.IsInRole("A"))
            {
                <li><a href="/Kullanici">Kullanıcı</a></li>
            }

            <li><a href="/Security/Logout">Çıkış Yap</a></li>

            @if (User.IsInRole("A"))
            {
                <li style="padding:8px"> @{Html.RenderAction("ToplamMaas", "Personel");}</li>
            }

        </ul>

        <div class="active text-right" id="GirisIsmi">
            <h4>Hoş geldiniz @HttpContext.Current.User.Identity.Name</h4>
        </div>
    </div>
</nav>
